.button{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
}

.contador{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    flex-direction: column;
    font-size: 70px;
}

.button1{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 140, 240);
    border: 5%;

}

.button2{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 192, 240);
    border: 5%;
}

.button3{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 140, 223);
    border: 5%;
}

.button4{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 240, 140);
    border: 5%;
}

.valorPositivo{
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 50px;
    color: aquamarine;

}

.valorNegativo{
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 50px;
    color: orangered;
}